backup/*
loss_func*
heavy*
weighted*
mse*
lr*
bs*
error*
direct*
sigmaGNLL*
tweedie_loss*

#.npy for test events
*testsize* 


*/sigmaMC/out/*.pt
*/sigmaMC/out/*.npy
*/sigmaMC/PTHA/*

*/multifoldMC/out/*.pt
*/multifoldMC/out/*.npy
*/multifoldMC/PTHA/*
*/multifoldMC/compare/*.png
*/multifoldMC/compare/*/*.png

*/direct/out/*.pt
*/direct/out/*.npy
*/direct/compare/*
*/direct/PTHA/*
*/direct/test/*


