loss_func*
heavy*
weighted*
mse*
lr*
bs*
error*
direct*
sigmaGNLL*

*/sigmaMC/out/*.pt
*/sigmaMC/out/*.npy
*testsize*

CT/out/*.pt
CT/out/*.npy
CT/compare/*
CT/PTHA/*
CT/test/*

SR/out/*.pt
SR/out/*.npy
SR/compare/*
SR/PTHA/*
# SR*
# CT*

backup/*
