data/simu/*

data/events/shuffled*
data/events/test*
data/events/train*


data/processed/*.dat
data/processed/*.npy

*.tar
*tar.gz

model/SR/out
model/CT/out

scripts/HPC/log/*.txt

resources/processed/eve_rate/*
