data/simu/*

data/events/shuffled*
data/events/test*
data/events/train*

data/processed/*.dat
data/processed/*.npy

*.tar
*tar.gz

model/SR/out
model/CT/out

scripts/HPC/log/*.txt
scripts/HPC/__pycache__/*
scripts/HPC/configs/*

scripts/experiments/sbatch/*.txt
scripts/experiments/configs/fontlist-v330.json
scripts/experiments/__pycache__/*
scripts/experiments/.neptune
scripts/experiments/sacred_logs/*
scripts/experiments/sbatch/*.txt


resources/processed/eve_rate/*
