.neptune
**/sacred_logs/
**/sbatch_logs/
*.tar
*tar.gz

#data/events/shuffled*
#data/events/test*
#data/events/train*
data/2upload/*
data/events/old/*
data/events/PostNGI/*
data/events/Rome/*
data/processed/*.dat
data/processed/*.npy
data/simu/*

resources/processed/eve_rate/*
resources/gis/bathy/*
resources/gis/dtopo/*.asc

scripts/Catania/__pycache__/*
scripts/Catania/.neptune/*
scripts/Catania/configs/*
scripts/Catania/log/*
scripts/Catania/sacred_logs/*
scripts/Catania/out/*
scripts/Catania/results

scripts/deform/__pycache__/*
scripts/deform/.neptune/*
scripts/deform/configs/*
scripts/deform/log/*
scripts/deform/sacred_logs/*

scripts/experiments/__pycache__/*
scripts/experiments/.neptune/*
scripts/experiments/configs/*
scripts/experiments/sacred_logs/*
scripts/experiments/sbatch/*.txt

scripts/HPC/__pycache__/*
scripts/HPC/configs/*
scripts/HPC/log/*

scripts/WC/__pycache__/*
scripts/WC/.neptune/*
scripts/WC/configs/*
scripts/WC/log/*
scripts/WC/sacred_logs/*

scripts/testing/__pycache__/*
scripts/testing/.neptune/*
scripts/testing/configs/*
scripts/testing/log/*
scripts/testing/sacred_logs/*
scripts/testing/out/*

scripts/Rome/__pycache__/*
scripts/testing/.neptune/*
scripts/testing/configs/*
scripts/testing/log/*
scripts/testing/sacred_logs/*
scripts/testing/out/*


