exposure/GEM/*.csv

__pycache__/
*.pyc

*.hdf5
*.npy
*.out
*.err

jobs/job_hdf5_225*
jobs/job_hdf5_529*
jobs/job_hdf5_892*
jobs/job_hdf5_1658*
jobs/job_hdf5_3454*
jobs/job_hdf5_7071*

test/*.zip
test/*.hdf5
test/*.csv

hazard/*.csv
hazard/*.npy
hazard/log
hazard/oq_inputs/event_rate_samples.csv
hazard/oq_inputs/rates_link.csv

loss/*.zip
loss/*.hdf5
loss/*.out

plots/configs

results/*.csv
results/oq_exports/*.csv
results/log
results/configs
results/risk_calc/*

tmp/*
tmp_const/*
tmp_foglio/*
